<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Login" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/my-login.css')}}"
    />
  </head>

  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <img
                src="{{url_for('static', filename='img/logo.jpg')}}"
                alt="logo"
              />
            </div>
            <!--Untuk ERROR-->
            <div class="card fat">
              <div class="card-body">
                {% with messages = get_flashed_messages()%} {% if messages %} {%
                for message in messages %}
                <p class="text-center">{{ message }}</p>
                {% endfor %} {% endif %} {% endwith %}
                <h4 class="card-title">Login</h4>
                <form
                  method="POST"
                  class="my-login-validation"
                  novalidate=""
                  action="/"
                >
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      id="username"
                      type="username"
                      class="form-control"
                      name="username"
                      value=""
                      required
                      autofocus
                      placeholder="Username"
                    />
                    <div class="invalid-feedback">Username is invalid</div>
                  </div>

                  <div class="form-group">
                    <label for="password">Password </label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      required
                      data-eye
                      placeholder="Password"
                    />
                    <div class="invalid-feedback">Password is required</div>
                  </div>

                  <div class="form-group">
                    <div class="custom-checkbox custom-control">
                      <input
                        type="checkbox"
                        name="remember"
                        id="remember"
                        class="custom-control-input"
                      />
                      <label for="remember" class="custom-control-label"
                        >Remember Me</label
                      >
                    </div>
                  </div>

                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-primary btn-block">
                      Login
                    </button>
                  </div>
                  <div class="mt-4 text-center">
                    Tidak punya akun?
                    <a href="/signup">Buat satu</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="footer">
              Copyright &copy; 2022 &mdash; Gede Darma Yuda
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      text="text/javascript"
      src=" {{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}} "
    ></script>
    <script
      text="text/javascript"
      src=" {{ url_for('static', filename='js/popper.min.js')}} "
    ></script>
    <script
      type="text/javascript"
      src=" {{ url_for('static', filename='js/bootstrap.min.js')}} "
    ></script>
    <script
      text="text/javascript"
      src=" {{ url_for('static', filename='js/my-login.js')}} "
    ></script>
  </body>
</html>
